<!--
  Gradient background
  https://codepen.io/P1N2O/pen/pyBNzX?depth=everything&order=popularity&page=3&q=gradient&show_forks=false
-->
{% extends 'base.html' %}

{% block content %}

  <div class="landing-page">
    <h1 class="logo">Serenity</h1>
    <button class="signup" href="#">Sign Up</button>
    <button class="login" href="#">Login</button>
    <p>
      <a class = "link" href="#">Support</a>
    </p>
  </div>

  <!-- Footer -->
  <footer>
    <div class="container text-center">
      <p style="font-family: Cabin;"> Copyright &copy; Serenity 2018</p>
    </div>
  </footer>
{% endblock %}
