<!--
  Gradient background
  https://codepen.io/P1N2O/pen/pyBNzX?depth=everything&order=popularity&page=3&q=gradient&show_forks=false
-->
{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}

  <div class="landing-page">
    <h1 class="logo">Serenity</h1>
    <input type="submit" name="login" class="login loginmodal-submit" value="Login" data-toggle = "modal" data-target = "#login-modal">
    <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
            <div class="modal-dialog">
            <div class="loginmodal-container">
              <h1>Login to Your Account</h1><br>
              <form>
              {% csrf_token %}
              <br>{{form2.username}}
              <br>{{form2.password}}
              <input type="submit" name="login" class="login loginmodal-submit" value="Login">
              </form>

              <div class="login-help">
              <a href="#">Register</a> - <a href="#">Forgot Password</a>
              </div>
            </div>
          </div>
          </div>

    <input type="submit" name="signup" class="login loginmodal-submit" value="Signup" data-toggle = "modal" data-target = "#login-modal2">
    <div class="modal fade" id="login-modal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
            <div class="modal-dialog">
            <div class="loginmodal-container">
              <h1>Sign Up for Serenity</h1><br>
              <form>
                {% csrf_token %}
                <br>{{form1.username}}
                <br>{{form1.first_name}}
                <br>{{form1.last_name}}
                <br>{{form1.email}}
                <br>{{form1.password1}}
                <br>{{form1.password2}}<br>
              <input type="submit" name="signup" class="login loginmodal-submit" value="Sign Up">
              </form>

              <div class="login-help">
              <a href="#">Log In</a> - <a href="#">Forgot Password</a>
              </div>
            </div>
          </div>
          </div>

    <p>
      <a class = "link" href="#">Support</a>
    </p>
  </div>

  <footer>
    <div class="container text-center">
      <p style="font-family: Cabin;"> Copyright &copy; Serenity 2018</p>
    </div>
  </footer>
{% endblock %}
