<!--
  Gradient background
  https://codepen.io/P1N2O/pen/pyBNzX?depth=everything&order=popularity&page=3&q=gradient&show_forks=false
-->
{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Serenity">

    <title>Serenity</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static '/landing_page/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Custom fonts for this template -->
    <link href="{% static '/landing_page/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet" type='text/css'>
    <!-- Custom styles for this template -->
    <link href="{% static '/landing_page/css/style.css' %}" rel="stylesheet">

  </head>
  <body id="lit-bg">
    {% block content %}
    {% endblock %}

    <!-- Bootstrap core JavaScript -->
    <script src="{% static '/landing_page/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static '/landing_page/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="{% static '/landing_page/vendor/jquery-easing/jquery.easing.min.j' %}"></script>

    <!-- Custom scripts for meditation template -->
    <script>
      var time = setInterval(myfunction,4000);
      var time = 0

      function myfunction(){
        time++;
        if(time % 2 == 0){
        document.getElementById("demo").innerHTML = "Breathe In"
        }
        else{
        document.getElementById("demo").innerHTML = "Breathe Out"
        }
      }
    </script>

    <!-- Custom scripts for mood template -->
    <script src="{% static '/mood/js/mood.js' %}"></script>
    <script src="{% static '/mood/vendor/chartjs/dist/Chart.js' %}"></script>
    <script src="{% static '/mood/vendor/chartjs-plugin-zoom/chartjs-plugin-zoom.js' %}"></script>
    <script src="{% static '/mood/vendor/moment/moment.js' %}"></script>

    <!-- Mood Chart -->
    <script>
      var dates = ["Mar 19, 2:13 pm", "Mar 19, 3:13 pm", "Mar 19, 3:43 pm", "Mar 20, 5:01 am", "Mar 21, 9:01 pm"];
      var scores = [80, 55, 67, 82, 96];

      $("#add-mood").click(function() {
        dates.push(moment().format("MMM DD, h:mm a"));
        scores.push(document.getElementById("mood-score").value);
      });

      var gradient = canvas.getContext('2d').createLinearGradient(0, 0, 0, 500);
      gradient.addColorStop(0, '#ffdeed');
      gradient.addColorStop(0.3, '#ffc2f0');
      gradient.addColorStop(0.7, '#f0c2ff');
      gradient.addColorStop(1, '#d1c2ff');

      var ctx = document.getElementById("canvas");
      var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: dates,
            datasets: [{
                label: 'Happiness value',
                data: scores,
                backgroundColor: gradient,
                borderColor: '#d1c2ff',
                borderWidth: 1
            }]
        },
        options: {
          title: {
            display: true,
            fontSize: 18,
            text: 'A Journey to Happiness'
          },
          responsive: true,
          maintainAspectRatio: false,
          pan: {
            enabled: true,
            mode: 'x'
          },
          zoom: {
            enabled: true,
            mode: 'x'
          },
          scales: {
            yAxes: [{
              ticks: {
                min: 0,
                max: 100
              }
            }]
          }
        }
      });
    </script>

  </body>

</html>
