
{% extends 'base.html' %}
{% block content %}

    <div class="check-in">
      <span class="check-in-content">
        How happy are you feeling today?
        <div class="happiness-slider">
          <input type="range" min="0" max="100" value="0" class="slider" id="mood-score">
          <span id="value" style="margin-left: 10px;">0</span>
        </div>
        <button id="add-mood" style="display: block; margin: auto; font-size: 10px;">OK</button>
        <a id="remind-me-later" href="#">Remind me later</a>
      </span>
    </div>

    <div class="main">
      <canvas id="canvas"></canvas>
    </div>
{% endblock %}
