/* Music Styling */
.audio {
  margin: auto;
  width: 40%;
  padding-top: 50px;
  text-align: center;
  }

.title {
    font-size: 50px;
  }

.audio button {
  background-color: #4ed2a1;
  color: white;
  border: none;
  display: block;
  margin: 10px auto 0px;
  border-radius: 30px;
  padding: 10px 98px;
  font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: lighter;
}

.audio button:hover {
  opacity: 0.6;
}
