/* General layout styling */
body {
  font-family: 'Lora', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  position: relative;
  width: 100%;
  height: 100%;
  color: white;
  background-color: black;
}

h1 {
  font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  margin: 0 0 35px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  margin: 0 0 35px;
  letter-spacing: 1px;
}

p {
  font-size: 10px;
  line-height: 1.5;
  margin: 0 0 25px;
}

@media (min-width: 768px) {
  p {
    font-size: 18px;
    line-height: 1.6;
    margin: 0 0 35px;
  }
}

a {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all .3s ease-in-out;
  color: white;
}

a:focus, a:hover {
  text-decoration: none;
  color: #cccccc;
}

.landing-page {
  display: table;
  width: 100%;
  height: auto;
  padding: 200px 0;
  text-align: center;
  color: white;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@media (min-width: 768px) {
  .masthead {
    height: 100%;
    padding: 0;
  }
}

footer {
  padding: 50px 0;
}

footer p {
  font-size: 14px;
  margin: 0;
}


/* Gradient background */
#lit-bg {
  width: 100wh;
  height: 90vh;
  color: #fff;
  background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
  background-size: 400% 400%;
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


/* Signin page */
.logo {
  font-size: 75px;
  margin-bottom: 50px;
}

.link {
  font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 10px;
}

.signup {
  background-color: #baabff;
  position: relative;
  color: white;
  border: none;
  display: block;
  margin: 10px auto;
  bottom: 1px;
  border-radius: 30px;
  padding: 10px 90px;
  font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 500;
}

.login {
  background-color: #4ed2a1;
  color: white;
  border: none;
  display: block;
  margin: 10px auto 0px;
  border-radius: 30px;
  padding: 10px 98px;
  font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: lighter;
}
/*
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #baabff;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.form button:hover, .form button:active, .form button:focus {
  background: #43A047;
}

.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}

.form .message a {
  color: #4CAF50;
  text-decoration: none;
}

.form .register-form {
  display: none;
}
*/

/* Mood styling */
.check-in {
  cursor: pointer;
  position: relative;
  top: 30%;
  left: 40%;
}

.check-in a {
  color: #999;
  text-decoration: none;
  font-size: 10px;
}

.check-in a:hover {
  color: black;
}

.check-in-content {
  font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: lighter;
  visibility: visible;
  width: 300px;
  background-color: white;
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 20px;
  position: absolute;
  z-index: 1;
}

.check-in .hide {
  visibility: hidden;
  -webkit-animation: fadeOut 1s;
  animation: fadeOut 1s;
}

.main {
  position: relative;
  margin: auto;
  top: 20%;
  width: 600px;
  height: 400px;
  background-color: white;
  padding: 20px;
  border-radius: 6px;
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* Music Styling */
.audio {
  margin: auto;
  width: 40%;
  padding-top: 50px;
  text-align: center;
  }

.title {
    font-size: 50px;
  }

.audio button {
  background-color: #4ed2a1;
  color: white;
  border: none;
  display: block;
  margin: 10px auto 0px;
  border-radius: 30px;
  padding: 10px 98px;
  font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: lighter;
}

.audio button:hover {
  opacity: 0.6;
}

/* Meditation Styling */
.text{
  text-align: center;
  font-family: 'Cabin', sans-serif;
  line-height: 500px;
  color: white;
  font-weight: 100;
  text-transform: uppercase;
}

.hi{
  height: 500px;
  width: 500px;
  /*border: 100px solid blue;*/
  border-radius: 50%;
  background: rgba(17, 46, 212, 0.3);
  margin: auto;
  margin-top: 80px;
  font-size: 50px
}

.orb {
  height: 500px;
  width: 500px;
  /*border: 100px solid blue;*/
  border-radius: 50%;
  background: red;
  margin: auto;
  margin-top: 80px;
}

.orb_1 {
  animation-name:orb_1;
  animation-duration: 4s;
  animation-delay: 0s;
  animation-iteration-count:infinite;
	animation-timing-function: ease-in-out;
  animation-direction: alternate;
}

@keyframes orb_1 {
  from { transform: scale(1); background: rgba(243, 52, 90, .4); }
	   to { transform: scale(.33); background: rgba(102, 255, 153,.4); }
}
