<!-- Music from https://www.zapsplat.com -->

{% extends 'base.html' %}
{% block content %}

  <div class="audio">
    <h1 class=title>Play Some Relaxing Sounds Below</h1>

    <h2>Available Sounds:</h2>

    <!-- PLAY BUTTONS -->
    <button class="play" id="btn1">play</button>
    <h3>Waterfall</h3>
    <button class="play" id="btn2">play</button>
    <h3>Ocean Waves</h3>
    <button class="play" id="btn3">play</button>
    <h3>Relaxation</h3>
    <button class="play" id="btn4">play</button>
    <h3>Motivational</h3>

    <!-- SOUNDS -->
    <audio id="sound1">
      <source src="/static/music/mp3/zapsplat_nature_waterfall_small_light_flow_creek_rainforest_short_version_18108.mp3" type="audio/ogg" />
    </audio>

    <audio id="sound2">
      <source src="/static/music/mp3/zapsplat_nature_ocean_waves_gentle_small_lap_into_rock_pool_distant_surf_16525.mp3" type="audio/ogg" />
    </audio>

    <audio id="sound3">
      <source src="/static/music/mp3/music_zapsplat_among_the_stars.mp3" type="audio/ogg" />
    </audio>

    <audio id="sound4">
      <source src="/static/music/mp3/audio_hero_Lifes-A-Breeze_SIPML_D-0109.mp3" type="audio/ogg" />
    </audio>
  </div>

{% endblock %}
